@media (max-width: 567px) {
  .card-movie {
    flex: 0 0 50% !important;
    max-width: 50% !important;
  }
  .Slider {
    width: auto !important;
    height: 37vh !important;
  }
  .imgs {
    height: 15vh !important;
  }
  h6 {
    font-size: 15px !important;
  }
}

@media (max-width: 800px) {
  .Slider {
    width: auto !important;
    height: 30vh !important;
  }
}
@media (max-width: 1200px) {
  .Slider {
    width: auto !important;
    height: 30vh !important;
  }
}
@media (max-width: 360px) {
  .Slider {
    width: auto !important;
    height: 30vh !important;
  }
  .imgs {
    height: 10vh !important;
  }
  h6 {
    font-size: 12px !important;
  }
  .card-body .fs-5 {
    font-size: 16px !important;
  }
}
@media (max-width: 320px) {
  .Slider {
    width: auto !important;
    height: 50vh !important;
  }
  .imgs {
    height: 15vh !important;
  }
  h6 {
    font-size: 12px !important;
  }
  .card-body .fs-5 {
    font-size: 14px !important;
  }
}
